*{
  box-sizing:border-box;
  text-decoration: none;
  list-style: none;

}
img{
  max-width: 100%;
}

main{
  width:1200px;
  margin:0 auto;
  background-image: url("../Pic/contact_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  perspective: 1000px;
}
.card{
  /* transform: rotateY(150deg); */
  width:600px;
  height:300px;
  border-left:1px solid white;
  border-top:1px solid white;
  margin-top:50px;
  color:white;
  padding:20px;
  border-radius:8px;
  background: rgba(255,255,255,.3);
  backdrop-filter:blur(3px);
  box-shadow: inset -5px -5px 0px rgba(0,0,0,.2),inset 5px 5px 10px rgba(0,0,0,.5)
  ,-20px 20px 5px rgba(255,255,255,.2);
  position:relative;
  backface-visibility: hidden;
  transition:.5s;
}
input{
  margin-bottom:10px;
}
h1{
  width:100%;
  color:white;
  /* border:1px solid white; */
  text-align: right;
  padding:0 10px;
  background-image: linear-gradient(90deg,rgba(255,255,255,0)40%,rgba(255,255,255,1));
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 3px;
}
textarea{
  resize:none;
  margin-right:90px;
  vertical-align: bottom;
}
button{
  border:none;
  height:30px;
  background-color: rgba(255,255,255,.1);
  border-top:1px solid white;
  border-left:1px solid white;
  padding:2px 5px;
  margin-right:10px;
  border-radius:3px;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,.5);
  backdrop-fliter:blur(5px);
  color:white;
}
@keyframes shake {
  10%{
    transform:translateX(10px);
  }20%{
    transform:translateX(-10px);
  }40%{
    transform:translateX(10px);
  }60%{
    transform:translateX(-10px);
  }80%{
    transform:translateX(10px);
  }90%{
    transform:translateX(-10px);
  }
}
.shake{
  animation: .5s shake;
}
.error{
  border:2px solid red;
}
@media (max-width:1200.98px) {
  nav{
    width:100%;
  }
  main{
    width:100%;
  }
}
@media (max-width:705.98px) {
  nav>ul>li>a{
    font-size: 18px;
  }
  nav>ul>li>a>img{
    min-width:30px;
  }
}
@media (max-width:600.98px) {
  .card{
    width:300px;
    height:350px;
  }
  button{
    margin-top:20px;
  }
  textarea{
    width:100%;
  }
}
