*{
  box-sizing: border-box;
  text-decoration: none;
}
nav{
  display:none;
}
div.loading_page{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100vh;
  background-color:rgba(0,0,0,1);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:1s;
  opacity: 1;
  transform: scale(1);
  z-index:3;
}
div.loading_page > h1{
  color:white;
}
div.loading_page >p{
  color:white;
}
div.loading_page > div.loading_bar{
  width:100%;
  height:40px;
  background-color:white;
  position:relative;
  transition:.2s;
}
div.loading_page > div.loading_bar > div.loading_count{
  position:absolute;
  height:inherit;
  top:0;
  left:0;
  background-color: #00B9FF;
}
div.test_mouse{
  width:2px;
  height:500px;
  border:1px solid red;
  margin:0 auto;
  position:relative;
  margin-top:100px;
}
div.test_mouse>div.mouse{
position:absolute;
width:80px;
height:8px;
background: black;
/* border-radius: 50%; */
top:22%;
left:0;
transform: translateX(-50%);
cursor: pointer;
}
div.test_mouse>div#bar{
  position:absolute;
  width:80px;
  height:100%;
  background: transparent;
  right:0;
  transform: translateX(50%);
  /* border:1px solid black; */
  z-index:2;
}
